{% extends 'base.html' %}
{% load static %}
{% block title %}雷顿商城-注册{% endblock title %}
{% block topfiles%}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock topfiles %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="{% static 'images/logo.png' %}"></a>
			<div class="reg_slogan">闪电配送  ·  品质保证</div>
			<div class="reg_banner"><img src="{% static 'images/register_banner.jpg' %}"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>用户注册</h1>
				<a href="{% url 'user:login' %}">登录</a>
			</div>
			<div class="reg_form clearfix">
				<form method="post" action="/user/register/">
                    {% csrf_token %}
				<ul>
					<li>
						<label>用户名:</label>
						<input type="text" name="user_name" id="user_name">
						<div id="name_err" class="error_tip">
                            <label  style="color: lightpink;">用户名已存在</label>
                        </div>
					</li>					
					<li>
						<label>密码:</label>
						<input type="password" name="pwd" id="pwd">
						<div id="pwd_err" class="error_tip" >
                            <label  style="color: lightpink;">密码长度为8-20位</label>
                        </div>
					</li>
					<li>
						<label>确认密码:</label>
						<input type="password" name="cpwd" id="cpwd">
						<div id="cpwd_err" class="error_tip">
                            <label  style="color: lightpink;">两次密码不一致</label>
                        </div>
					</li>
					<li>
						<label>邮箱:</label>
						<input type="text" name="email" id="email">
                        <div id="emali_err" class="error_tip">
                            <label  style="color: lightpink;">邮箱格式不正确</label>
                        </div>

					</li>
					<li class="agreement">
						<input type="checkbox" name="allow" id="allow" checked="checked">
						<label>同意"雷顿商城用户使用协议"</label>
						<div id="allow_err" class="error_tip2">
                            <label  style="color: lightpink;">请勾选同意协议</label>
                        </div>
					</li>
					<li class="reg_sub">
						<input type="submit" value="注 册" id="register_btn">
					</li>
				</ul>
                    <label style="color: lightpink;">{{ errmsg }}</label>
				</form>
			</div>

		</div>

	</div>
{% endblock body %}

	
