{% extends "base_user_center.html" %}
{% block topfiles %}
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
{% endblock topfiles %}
{% block title %}密码修改{% endblock %}
{% block body %}
<div class="row text-center">
<div>
<h1>密码修改</h1>
    {% if form.new_password1.help_text %}
    <p class="text-center">{{ form.new_password1.help_text|safe }}</p>
    {% endif %}
</div>

<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="old-password">旧密码：</label>
        {{ form.old_password }}
    </div>
    <div class="form-group">
        <label for="new-password1">新密码：</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-group">
        <label for="new-password2">确认密码：</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="提交" class="btn btn-lg btn-primary "/>
</form>
</div>
{% endblock %}
